.calc__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/Voyager.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.calc__hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.calc__hero__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 50%;
  z-index: 1;
}

.calc__hero__container h1 {
  font-size: var(--font-title-hero);
}

.calc__hero__container p {
  color: var(--c-gray);
}

@media (max-width: 48em) {
  .calc__hero__container h1 {
    font-size: var(--font-title-small-screens);
  }
  .calc__hero__container p {
    font-size: var(--font-paragraph-small-screens);
    line-height: 1.2;
  }
}
