.main_page__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  position: relative;
  padding: 5rem 0rem;
}

.main_page__form h2 {
  text-align: center;
  font-size: var(--font-title);
  width: 50%;
  z-index: 1;
}
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25rem;
  min-height: 20rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  backdrop-filter: var(--glass-filter);
  -webkit-backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form__title {
  font-size: var(--font-title-small-screens);
  font-weight: var(--font-weight-title);
  position: relative;
  letter-spacing: 1px;
}

.form__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 10%;
  height: 4px;
  background: #fff;
  border-radius: 2px;
}

.form__input {
  width: 100%;
}

.form__input input {
  width: 90%;
  background: var(--bg-glass-light);
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  border-radius: 35px;
  letter-spacing: 1px;
  font-size: var(--font-paragraph);
  color: var(--c-white);
  box-shadow: var(--glass-shadow);
}

.form__input::placeholder {
  color: var(--c-white);
  font-family: var(--font-family);
}

.form__input input[type="submit"] {
  background: var(--c-white);
  color: var(--c-black);
  width: 30%;
  min-width: 6rem;
  cursor: pointer;
  font-weight: var(--font-weight-title);
}

.form__forget {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form__forget p a {
  color: var(--c-accent);
  text-decoration: none;
}

.form__blur {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: var(--glass-filter);
  -webkit-backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
  border-radius: 0.5rem;
  pointer-events: none;
  animation: float 20s linear infinite;
}

.form__blur:nth-child(6) {
  top: calc(50% - 13rem);
  left: calc(50% - 5rem);
  width: 3rem;
  height: 3rem;
  z-index: 0;
  animation-duration: 18s;
  animation-delay: -5s;
}
.form__blur:nth-child(2) {
  top: calc(50% - 12rem);
  left: calc(50% + 10rem);
  width: 6rem;
  height: 6rem;
  z-index: 0;
  animation-duration: 15s;
  animation-delay: -3s;
}
.form__blur:nth-child(3) {
  top: calc(50% + 5rem);
  left: calc(50% + 11rem);
  width: 5rem;
  height: 5rem;
  z-index: 1;
  animation-duration: 22s;
  animation-delay: 0;
}
.form__blur:nth-child(4) {
  top: calc(50% - 5rem);
  left: calc(50% - 19rem);
  width: 8rem;
  height: 8rem;
  z-index: 1;
  animation-duration: 12s;
  animation-delay: -10s;
}

.form__blur:nth-child(5) {
  top: calc(50% + 12rem);
  left: calc(50% - 5rem);
  width: 3rem;
  height: 3rem;
  z-index: 0;
  animation-duration: 10s;
  animation-delay: -1s;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(5rem);
  }

  50% {
    transform: translateY(-5rem);
  }
}

@media (max-width: 48em) {
  .form__blur {
    display: none;
  }
  .form__container {
    transform: scale(0.85);
    transform-origin: center;
  }
  .main_page__form h2 {
    font-size: var(--font-title-small-screens);
  }
}

@media (max-width: 32em) {
  .main_page__form {
    gap: 0rem;
  }
  .main_page__form h2 {
    font-size: var(--font-title-mobiles);
    width: 70%;
  }
  .form__container {
    transform: scale(0.7);
    transform-origin: center;
  }
}
