.main_page__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
}

.main_page__links_box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_page__links_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  min-height: 32rem;
}
.main_page__links_element {
  width: 100%;
  min-width: 0;
  border-radius: 1rem;
  background: var(--c-gray);
  box-shadow: var(--glass-shadow);
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
}
.main_page__links_element:nth-child(1) {
  grid-area: 1 / 1 / 3 / 3;
  background-image: url(/images/3I-ATLAS.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_page__links_element:nth-child(2) {
  grid-area: 1 / 3 / 3 / 5;
  background-image: url(/images/ParkerSolarProbe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_page__links_element:nth-child(3) {
  grid-area: 1 / 5 / 2 / 8;
  background-image: url(/images/Voyager.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_page__links_element:nth-child(4) {
  grid-area: 2 / 5 / 3 / 8;
  background-image: url(/images/MilkyWay.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main_page__links_element h2 {
  z-index: 1;
  font-size: var(--font-title-small-screens);
}
.main_page__links_element p {
  z-index: 1;
}

.main_page__links_element a {
  overflow: hidden;
  align-self: start;
  position: relative;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-title);
  font-size: var(--font-paragraph);
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  background-color: var(--c-accent);
  color: var(--c-white);
  border: none;
  z-index: 1;
  text-decoration: none;
}

.main_page__links_element a::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  z-index: -1;
  border-radius: 0.5rem;
  background: var(--c-accent-alt);
  transition: all 0.3s ease;
}

.main_page__links_element a:hover {
  color: var(--c-black);
}

.main_page__links_element a:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.main_page__links_element::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

@media (max-width: 48em) {
  .main_page__links_grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }

  .main_page__links_element {
    padding: 1rem;
  }

  .main_page__links_element a {
    padding: 0.4rem 1rem;
  }

  .main_page__links_element:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .main_page__links_element:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .main_page__links_element:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .main_page__links_element:nth-child(4) {
    grid-area: 4 / 1 / 5 / 2;
  }
}
