.news__section {
  background: var(--c-black);
  background-image: var(--bg-image);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  padding: 3rem;
  width: 80%;
  max-width: 90rem;
}

.news__box {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.news__box h2,
.news__aside h2 {
  margin-bottom: 0.5rem;
  position: relative;
  width: 7rem;
  font-size: var(--font-title);
  width: fit-content;
}

.news__box h2::after,
.news__aside h2::after {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  content: "";
  width: 120%;
  height: 3px;
  border-radius: 0.5rem;
  background: var(--c-accent);
}

.news__aside {
  grid-area: 1 / 3 / 2 / 4;
}

.news__element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: var(--bg-glass-light);
  backdrop-filter: var(--glass-filter);
  -webkit-backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
  width: 100%;
}

.news__element__image {
  flex: 1 1 30%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid var(--c-white);
  border-radius: 1rem 0 0 1rem;
  background: var(--c-white);
}

.news__element__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.news__element__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  flex: 2 2 70%;
  padding: 1rem;
  width: 100%;
}

.news__element__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0.2rem;
}

.news__element__meta {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.news__element__cathegory {
  background: var(--c-accent);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.news__element__date {
  padding: 0.5rem;
  position: relative;
}

.news__element__date::after {
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  content: "";
  width: calc(100% - 1rem);
  transform: translateX(-50%);
  height: 3px;
  border-radius: 0.5rem;
  background: var(--c-accent);
}

.news__show_all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__show_all button {
  border: none;
  border-radius: 1rem;
  background: var(--bg-glass-light);
  backdrop-filter: var(--glass-filter);
  -webkit-backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
  padding: 0.5rem;
  color: var(--c-white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-paragraph);
}

.news__aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.news__video__element {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border-radius: 1rem;
  background: var(--bg-glass-light);
  backdrop-filter: var(--glass-filter);
  -webkit-backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
  padding: 1rem;
}

.news__video {
  border: 2px solid var(--c-white);
  border-radius: 1rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.news__video img {
  width: 100%;
  height: 100%;
  display: block;
}

.news__video svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
}

.news__video__element h3 {
  text-align: center;
}

.news__video__modal.hidden {
  display: none;
  pointer-events: none;
}
.news__video__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-glass-light);
  backdrop-filter: var(--glass-filter);
  -webkit-backdrop-filter: var(--glass-filter);
  box-shadow: var(--glass-shadow);
  border: 1px solid var(--c-white);
  pointer-events: all;
  z-index: 999;
  padding: 2rem;
  width: 90%;
  max-width: 64em;
}

.video__modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  z-index: 10;
  border: none;
}

.video__modal__close {
  width: 5%;
  height: auto;
  position: absolute;
  right: 1%;
  top: 1%;
  background: transparent;
  border: none;
  color: var(--c-white);
  font-size: var(--font-title);
  line-height: 1;
}
.video__modal__inner {
  width: 100%;
  height: 100%;
}

.video__modal__inner iframe {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 64em) {
  .news__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .news__box {
    grid-area: 1 / 1 / 2 / 2;
  }

  .news__aside {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (max-width: 48em) {
  .news__container {
    width: 95%;
  }
  .news__element {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  .news__element__image {
    flex: auto;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
  }
  .news__element__content {
    flex: auto;
    padding: 0.5rem;
    padding-top: 0;
  }
}

@media (max-width: 32em) {
  .news__element__text h3,
  .news__video__element h3 {
    font-size: var(--font-title-mobiles);
  }

  .news__element {
    width: 100%;
  }

  .news__video__modal {
    padding: 1.5rem;
  }

  .video__modal__close {
    font-size: var(--font-title-small-screens);
  }
}
